server:
  port: 2333
  address: 0.0.0.0
lavalink:
  plugins:
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.3.0"
      repository: "https://maven.lavalink.dev/releases"
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
      repository: "https://maven.lavalink.dev/releases"
  server:
    password: "youshallnotpass"
    sources:
      youtube: false 
      bandcamp: true
      soundcloud: true
      twitch: true
      http: true
      local: false
    bufferDurationMs: 400
plugins:
  youtube:
    enabled: true
    allowSearch: true
    clients: ["MUSIC", "ANDROID_VR", "WEB"]
  lavasrc:
    providers:
      - "ytsearch:\"%ISRC%\""
      - "ytsearch:%QUERY%"
    sources:
      spotify: false
      applemusic: false 
      deezer: false
      yandexmusic: false
      youtube: true
    spotify:
      clientId: "SPOTIFY_CLIENT_ID"
      clientSecret: "SPOTIFY_CLIENT_SECRET"
      countryCode: "US"